.root {
  width: 100%;
  margin: 39px auto 80px;
  display: flex;
  flex-direction: column;
}

.moviesCardList__container {
  display: grid;
  align-items: center;
  row-gap: 60px;
  column-gap: 30px;
  grid-template-rows: repeat(auto-fit, 231px);
  grid-template-columns: repeat(auto-fit, 360px);
  padding: 0 auto;
}

@media screen and (max-width: 880px) {
  .moviesCardList__container {
      justify-content: center;
  }
}

.moviesCardList__loadButton {
  width: 320px;
  height: 36px;
  border: 1px solid #E8E8E8;
  background-color: transparent;
  padding: 0;
  margin: 78px auto 0;
  border-radius: 4px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;  
}

.moviesCardList__loadButton:hover {
  cursor: pointer;
}