.navPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.navPanel__tab {
  display: flex;
  gap: 16px;
}

.navPanel__tab_auth {
  gap: 30px;
}

.navPanel__item {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-decoration: none;
}

.navPanel__item_style_auth {
  margin-right: 30px;
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

.navPanel__item_auth {
  color: #fff;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  border-radius: 3px;
  background-color: #000;
  text-decoration: none;
}

.navPanel__item_active {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
  text-decoration: none;
}

.navPanel__accountBtn {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

.navPanel__accountBtnTxt {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 13px 0 0;
}

.navPanel__accountBtnImg {
  padding: 10px;
  border-radius: 6px;
  background-color: #F9F9F9;
}

.navPanel__unauth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .navPanel {
    flex-direction: column;
  }

  .navPanel__tab {
    flex-direction: column;
    align-items: center;
    padding-top: 159px;
    gap: 0;
  }

  .navPanel__item {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
  }

  .navPanel__item_active {
    padding-bottom: 4px;
    margin-bottom: 24px;
    border-bottom: 2px solid black;
    font-size: 18px;
    font-weight: 500;
  }
  
  .navPanel__item_auth {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}

@media screen and (max-width: 550px) {

  

  .navPanel__item_style_auth {
    margin: 0;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #000;
  }

  .navPanel__item_style_auth:hover {
    cursor: pointer;
  }

  .navPanel__item_auth {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 12px;
    margin-left: 14px;
  }
}