.portfolio {
  max-width: 1140px;
}

.portfolio__mainContent {
  margin: 50px 0 106px;
  display: flex;
  flex-direction: column;
}

.portfolio__mainContent:last-of-type(p) {
  margin-bottom: 0;
}

.portfolio__mainContentTitle {
  margin: 0 0 50px;
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__mainContentLink {
  margin-top: 20px;
  border-bottom: 1px solid #E8E8E8;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.portfolio__mainContentLink:first-of-type {
  margin: 0;
}

.portfolio__mainContentLink:last-of-type {
  border: none;
}

.portfolio__mainContentLinkTitle {
  color: black;
  margin: 0 0 19px;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}