.root {
  max-width: 1280px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.promo__container {
  margin: 0 auto;

  background-color: #F3C1F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutProject__container {
  margin: 0 auto;
  padding: 110px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stack__container {
  background-color: #F5F5F5;
  margin: 0 auto;
  padding: 100px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other__container {
  margin: 0 auto;
  padding: 110px 70px 125px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .aboutProject__container {
    padding: 90px 50px;
  }

  .stack__container {
    padding: 90px 50px;
  }

  .other__container {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 550px) {

  .aboutProject__container {
    padding: 70px 18px;
  }

  .stack__container {
    padding: 70px 18px;
  }

  .other__container {
    padding: 70px 14px;
  }
}