.root {
  display: flex;
  justify-content: center;
}

.auth__container {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 0 0;
}

.auth__logo {
  width: 38px;
  height: 38px;
}

.auth__logo:hover {
  cursor: pointer;
}

.auth__title {
  margin: 40px 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auth__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 16px;
  width: 396px;
}

.auth__formItem {
  display: flex;
  flex-direction: column;
}

.auth__formInputLabel {
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.auth__formInput {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #F9F9F9;
  border: none;
  height: 46px;
  margin-bottom: 10px;
  padding: 0 0 0 15px;
}

.auth__formInputError {
  color: #FF4062;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.auth__formSubmitButton {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  background: #000;
  border: none;
  height: 45px;
  margin-top: 59px;
}

.auth__formSubmitButton:hover {
  cursor: pointer;
}

.auth__formSubmitButton_style_login {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  background: #000;
  border: none;
  height: 45px;
  margin-top: 169px;
}

.auth__formSubmitButton_style_login:hover {
  cursor: pointer;
}

.auth__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
}

.auth__authText {
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 6px;
}

.auth__authButton {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .auth__container {
    padding-top: 232px;
  }

  .auth__formSubmitButton_style_login {
    margin-top: 179px;
  }
}

@media screen and (max-width: 420px) {
  .auth__container {
    align-items: center;
    padding-top: 56px;
    max-width: 260px;
  }

  .auth__form {
    width: 260px;
  }

  .auth__title {
    margin: 50px 0 80px;
  }

  .auth__formSubmitButton {
    margin-top: 157px;
  }

  .auth__formSubmitButton_style_login {
    margin-top: 245px;
  }

  .auth__authText {
    font-size: 12px;
  }

  .auth__authButton {
    font-size: 12px;
  }
}