.aboutMe {
  max-width: 1140px;
}

.aboutMe__header {
  border-bottom: 1px solid black;
}

.aboutMe__title {
  margin: 0 0 23px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
}

.aboutMe__mainContent {
  margin: 66px 0 50px;
  display: flex;
  justify-content: space-between;
}

.aboutMe__mainContentInfo {
  max-width: 600px;

}

.aboutMe__mainContentInfoTitle {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.aboutMe__mainContentInfoSpec {
  margin: 18px 0 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.aboutMe__mainContentInfoAbout {
  margin: 0 0 99px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.aboutMe__mainContentLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.aboutMe__mainContentLink:hover {
  cursor: pointer;
}

/* Ширину задал отличную от макета, чтобы фотка смотрелась нормально */
.aboutMe__mainContentPic {
  width: 250px;
  height: 327px;
}